.App {
  text-align: center;
}

.App-header {
  background-color:#191919;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Comic Sans MS;
  color: white;
}

.Unicorn {
  max-width: 80%;
}

.Postcard {
  background-color:#FFB510;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Us {
  max-width: 40%;
  border: 10px solid;
  border-color: 	#FF880B;
}

.Note {
  font-family: Comic Sans MS;
  font-size: 40px;
  font-weight: bolder;
  padding: 10px;
}

.Hola {
  text-align: left;
  color: #F7020A;
  padding-bottom: 10px;
}

.BodyOfNote {
  text-align: left;
  color: #0572B3;
}

.OurSignature {
  text-align: right;
  color: #842800;
  padding-top: 10px;
}

.Stamp{
  max-width: 10%;
  padding-bottom: 700px;
}

.Everything {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: url("Unicorns.jpg");
}

.MessageZone{
  height: 750px;
  width: 650px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MessageDirections{
  height: 80px;
  width: 400px;
  margin-top: 150px;
  background-color: #F43651; 
  border: 10px solid;
  border-color:	#CCB074;
  font-family: Comic Sans MS;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.SendZone{
  height: 280px;
  width: 500px;
  margin-top: 30px;
  border: 10px solid;
  background-color: #F43651;
  border-color:	#CCB074;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InputMessage {
  height: 170px;
  width: 450px;
  margin: 10px;
  background-color: white;
  font-family: Comic Sans MS;
  font-size: 23px;
  text-align: center;
  border: 2px solid;
  background-color: #F4AFC1; 
}

.InputName{
  height: 40px;
  width: 200px;
  margin-bottom: 5px;
  background-color: white;
  font-family: Comic Sans MS;
  font-size: 17px;
  text-align: center;
  border: 2px solid;
  background-color:	#FDEF84;
}

.PostButton{
  font-family: Comic Sans MS;
  font-size: 15px;
  border: 2px solid;
  background-color: 	#85ACE2;
}

.MessageBoardBox {
  height: 700px;
  width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:#64AD39;
  border: 10px solid;
  border-color: #CCB074;
  font-family: Comic Sans MS;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MessageBoardMessages {
  height: 600px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:#64AD39;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.h2sig {
  text-align: right;
  font-size: 17px;
  color: #CCB074;
  width: 400px;
  border-bottom: black dashed 2px;
}

.h3msg {
  padding-top: 1.5vh;
  font-size: 23px;
  color: black;
  width: 400px;
  align-self: center;
}
